<div>
    <h1><%= @tasks.title %></h1>
   </div>

  <a><%= link_to "Back to list", tasks_path %></a>
  <a><%= link_to "Edit this task", edittask_path %></a>
  <a><%= link_to "Delete this task", destroy_path, method: :delete %></a>





